body {
	max-width: 87.5rem;
	margin: auto;
	font-family: 'Raleway', serif;
}

ul {
  list-style-type: none;
}

input[type="checkbox"] {
  display: none;
}

input:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-item {
	padding: 0.5rem 4rem;
	margin: 1rem;
}

.margin-container {
  margin: 2rem 0;
}

.text-bold {
  font-weight: 700;;
}

.search-icon {
	background-color: #F2F2F2;
	padding: 1rem;
	border-bottom-left-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.search-input {
	padding: 1rem;
	border-top: 0.0625rem solid #F2F2F2;
	border-bottom: 0.0625rem solid #F2F2F2;
	border-left: transparent;
	border-right: transparent;
}

.search-button {
	font-size: 1rem;
	cursor: pointer;
	padding: 1rem;
	color: white;
	background-color: #0065FC;
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

input[type="checkbox"] + label {
	cursor: pointer;
	border:solid 2px #7d7d7d;
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	border: 0.0625rem solid #D9D9D9;
	margin: 0 0.5rem;
}

input[type="checkbox"]:checked + label {
	background-color: #DEEBFF; 
}

.hebergements-container {
	display: flex;
	flex-wrap: wrap;
	width: 55rem;
	background-color: #F2F2F2;
	margin-right: 2.5rem;
}

.hebergement-card {
	padding: 0.5rem;
	background-color: white;
	margin: 1rem;
	border-radius: 1rem;
}

.img-radius {
  border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.aside-section {
 background-color: #F2F2F2;
 width: 26.25rem;
}
  
